a {
  text-decoration: none;
}

p.id {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0;
  color: $black;
}

p.title {
  font-size: 18px;
  font-weight: bold;
  color:$black;
}

p.subtitle {
  margin: 20px 0 5px;
  font-size: 13px;
  font-weight: 300;
}

.page-title p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}